#Acao {
    text-align: center;
    text-transform: uppercase;
    color: rgb(238, 113, 29);
    font-weight: bold;
    background-color: black;
}
#Aventura {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgb(243, 8, 8);
    background-color: black;
}
#Comedia {font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #e7bd02;
    background-color: black;
}
#Drama {font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgb(7, 107, 173);
    background-color: black;
    }

#Fabula{font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgb(194, 130, 130);
    background-color: black;
}    

#Fantasia{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color:rgba(247, 189, 189, 0.938);
    background-color: black;
}    

#Ficcao{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color:rgb(62, 218, 75);
    background-color: black;
}   

#Lgbtqia{
    text-align: center;
}   

#Misterio{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgb(101, 17, 255);
    background-color: black;
}   

#Romance{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #ff6fd4 ;
    background-color: black;
}   

#Romance{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #ff6fd4 ;
    background-color: black;
}

#Sobrenatural{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #860069f1;
    background-color: black;
}  
#Suspense{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #6b000ef1; 
    background-color: black;
} 

#Terror{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #9c9999f1; 
    background-color: black;
} 

#Horror{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
} 


div#imagens img {
    padding: 20px 20px;
    width: 210px!important;
    height: 230px!important;
    }
   