body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imag/fundo.jpg);
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 35%;
    color: white;
}

.input {
    position: relative;
}

.inputuser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.label {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputuser:focus~.label,
.inputuser:valid~.label {
    top: -20px;
    font-size: 12px;
}

button {
    background-color: #5b4b41;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;

}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

fieldset {
    border: 3px solid#5b4b41;
}

legend {
    border: 1px #5b4b41;
    padding: 10px;
    text-align: center;
    background-color: #5b4b41;
    border-radius: 8px;
    color: black;
}

#submit {
    background-color: #5b4b41;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 25px;
}