body {
	color: rgb(250, 4, 4);
	background-color: #fee;
}

.tela_usuarios .usuario {
	background-color: #e55;
	transition: 0.3s;
}

.tela_usuarios .usuario:hover {
	background-color: #f66;
}

.tela_usuarios .usuario:active {
	background-color: #f88;
}

.tela_chat {
	background-color: #ffe;
	border-radius: 10px 0px 0px 0px;
}

.tela_chat .chat_mensagem:hover {
	background-color: #eee;
	margin-left: 20px;
}

